<div class="row">
    <div class="forms">
           <form class="form-horizontal">
                <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>S.no</th>
                            <th>Agent</th>
                            <th>Phone No</th>
                            <th>Date</th>
                            <th>Email Id</th>
                            <th>Total Applicants</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Doe</td>
                            <td>9843556434</td>
                            <td>12/2/2019</td>
                            <td>abc@gmail.com</td>
                            <td>45</td>
                            <td class="buton_align"><button type="button" class="btn btn-default default_button"  (click)="onagentsClick()"><a routerLink="agentdetails">View</a></button>
                            </td>
                          </tr>
                          <tr>
                                <td>2</td>
                                <td>Smith</td>
                                <td>9843556434</td>
                                <td>12/2/2019</td>
                                <td>abc@gmail.com</td>
                                <td>45</td>
                               <td><button type="button" class="btn btn-default default_button"  (click)="onagentsClick()"><a routerLink="agentdetails">View</a></button>
                            </td>
                                  
                          </tr>
                        </tbody>
                 </table>   
           </form>
           </div>
    </div>